{% extends "base.html.twig" %}

{% block title %}Todo:List{% endblock %}

{% block body %}
    <h2 class="page-header">Todo: List</h2>
    <form action="/todo" method="get">
        <input type="text" placeholder="serach" />
        <button type="button">Search</button>
    </form>
    <table class="table">
        <thead> 
            <tr> 
                <th>#</th> 
                <th>Todo</th> 
                <th>Due date</th> 
                <th></th> 
            </tr> 
        </thead> 
        <tbody> 
           {% for row in paginator %}
            <tr> 
                <th scope="row">{{ row.id }}</th> 
                <td>{{ row.name }}</td> 
                <td>{{ row.dueDate|date('F j, Y, g:i a') }}</td> 
                <td>
                    <a href="/todo/details/{{ row.id }}" class="btn btn-success">View</a>
                    <a href="/todo/edit/{{ row.id }}" class="btn btn-default">Edit</a>
                    <a href="/todo/delete/{{ row.id }}" class="btn btn-danger">Delete</a>
                </td> 
            </tr> 
            {% endfor %}
        </tbody> 
    </table>
  <nav class="global-pager">
        {{ mase_fuc_cpn(paginator, app.request) }}
    </nav>
    <br/> <br/>
{% endblock %}
